body {
    background: #444444 url("img/bg.png") repeat;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 800px;
}

.game {
    width: 100%;
    clear: left;
    text-align: left;
}

.left {
    float: left;
    width: 200px;
    text-align: right;
    font-size: 100px;
}

.right {
    float: left;
    width: auto;
}