body {
    background: #444444 url("img/bg.png") repeat;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 800px;
}

.separator {
    margin: 5px 0px;
    padding: 0;
    width: 529px;
    height: 2px;
    background: url("img/line.png");
}

.game {
    width: 100%;
    clear: left;
    text-align: left;
}

.left {
    float: left;
    width: 200px;
    text-align: right;
    font-size: 100px;
}

.right {
    float: left;
    width: auto;
}